.header {
    text-align: center;
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.search-input {
    color: black;
    background-color: #d9d9d950;
    width: 100%;
    padding-block: 0.7em;


}