.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-inline: 2em;

}

.copyright {
    font-size: 9px;
    display: block;
    text-align: center;
    margin-top: 1em;
}